#containerMovies {
    position: relative;
    background-image: url("https://people.com/thmb/JmoQrehB6kRB5iR0gi286m10gR4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(999x0:1001x2)/adam-jackie-sandler-kids-5988499a3fec44b5a6bfe3597a94495c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
  }
  
  #containerMovies::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.90;
    display: flex;
    justify-content: space-between;
  }
  
  #containerMovies > p {
    position: relative;
    text-align: center;
   font-size: 50px;
    color: white;
    font-weight: bolder;
    margin: 0;
    
  }

 
