.Register {
    background-color: black;
    height: 100rem;
    color: rgba(220, 188, 5, 0.367);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 1px grey;
}

@media screen and (max-width: 768px) {
    .Register {
        font-size: 3rem;
    }
}

@media screen and (max-width: 576px) {
    .Register {
        font-size: 3rem;
    }
}

#registerContainer {
    border: solid 2px saddlebrown;
}
#registerContainer {
    border-width: 1px;
}


