.Register {
    background-color: black;
    height: 100vh;
    color: rgba(220, 188, 5, 0.367);
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 1px grey;


}

#registerContainer {
    border: solid 2px saddlebrown;

}