.Movie {
    margin-top: 30px;
}

#movieContainer {
    display: flex;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
    margin: auto;
}

#movieContainer>img {
    position: relative;
    box-shadow: 1px 2px 23px white;
    width: 35vh;
    height: 50vh;
}

img:hover #info{
    box-shadow:  1px 3px 33px white;
    display: block;
}
#movieContainer:hover>img{
    opacity: 20%;
}

#info {
    display: none;
    font-size: 23px;
    position: absolute;
    width: 20%;
    height: 50%;

    color:green
    
}