#movieContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    max-width: 70rem;
    max-height: 70rem;
}

#movieContainer>img {
    position: relative;
    box-shadow: 1px 2px 23px white;
    width: 25rem;
    height: 40rem;
}

#movieContainer:hover #movieInfo {
    display: block;
}

#movieContainer:hover img {
    opacity: 20%;
}

#movieInfo {
    display: none;
    position: absolute;
    width: 16%;
    height: 50%;
    color: white;
    text-align: center;
    max-width: 100%;
    height: 20%;
   
    
}

#movieInfo>p {
    font-size: 1.2rem;
    width: 70%;
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

@media (max-width: 992px) {
    #movieContainer {
        max-width: 80%;
    }

    #movieContainer>img {
        width: 20rem;
        height: 30rem;
    }

    #movieInfo>p {
        font-size: 1.6vh;
    }
}

@media (max-width: 768px) {
    #movieContainer {
        max-width: 90%;
    }

    #movieContainer>img {
        width: 25rem;
        height: 30rem;
    }

    #movieInfo>p {
        font-size: 1rem;
    }
    #movieInfo{
        width: 65%;
    overflow: auto;

    }
}

@media (max-width: 480px) {
    #movieContainer {
        max-width: 100%;
    }

    #movieContainer>img {
        width: 20rem;
        height: 30rem;
    }

    #movieInfo>p {
        font-size: 1.1rem;
    }

    #movieInfo {
        width: 57%;
    }
}
